@font-face{
  font-family:'digital-7';
  src: url('../src/assets/digital-7.ttf');
}
/* body {
  background-color: black;
  color: red;
  font-family: 'digital-7';
  font-size: 150px;
} */
.App {
  display: flex;
  justify-content: space-evenly;
}